body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    height:100vh;
}
.black {
 background-color:#1f2937;
 display: flex;
 flex-direction: column;
 padding: 0 120px;
}
.title {
    text-align: center;
    font-weight: 900;
    font-size:36px;
    color:#1f2937;
}
.logo {
    font-size:24px;
    color:#f9faf8;
}
.header ul {
     list-style-type:none;
     display: flex;
     gap: 16px;
     margin:0px;
}
.header a {
    text-decoration: none;
}
.items img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.header {
    display: flex;
    padding:10px ;
    justify-content:space-between;
    margin:0px;
}
.modal {
 display: flex;
 gap:40px;
 justify-content: center;
 align-items: center;
 padding-top:20px ;
 padding-bottom:20px;

}
.cards {
    display: flex;
    align-items:center;
    justify-content: center;
    gap:25px;
    margin: 20px 0;
}
.modal button {
    padding:10px 20px;
    width:min-content;
    height: min-content;
    white-space:nowrap;
}
.advrt {
    background-color:  #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding:10px 40px;
    margin: 20px 0;
}
.txt1 {
    color:#f9faf8;
    font-weight:300;
    font-size: 36px;
}
.txt2 {
    color:#e5e7eb;
}
.modalcont h4 {
    font-size:48px;
    color:#f9faf8;
    font-weight: 900;
    margin-bottom:0px;
}
.modalcont {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.modalcont p,.header a {
  font-size: 18px;
  color:#e5e7eb;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1f2937;
    color:#e5e7eb;
}
.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding:20px 40px;
    width:100%;
    box-sizing: border-box;
}
.txt3 {
    max-width:450px;
    text-align: center;
}
.modal2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bt2 {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 500;
    padding: 10px;
    border-color: #e5e7eb;
}